body {
    margin: 10px;
    width: 100%;
}

article{
    margin-bottom: 10px;
}

#calculator tr td input {
    width: 100%;
    background-color: blue;
    padding: 30px;
    font-size: xx-large;
}

li {
    list-style: none;
}

#solution {
    background-color:green;
    padding-bottom: 45px;
    width: 30%;   
    font-size: 100px;
}